<!-- <img class="img-responsive" src="http://www.publicdomainpictures.net/download-picture.php?adresar=30000&soubor=cork-board.jpg" alt="corkboard"> -->
<div class="corkboard">
  <%= link_to image_tag("blue_pi.png"), addresses_path %>
</div>